#home-container {
    width: 100%;
    height: 100%;
    float: left;
    margin: 0 auto;
    border: lawngreen solid 5px;

}

#side-container {
    width: 25%;
    height: 100%;
    float: right;
    margin: 0 auto;
    border-left: lawngreen solid 5px;
    overflow-y: auto;
    overflow-x: hidden;
}

#webcam {
    width: 50%;
    height: 80%;
    float: left;
    border: lawngreen solid 5px;
    margin: 5%;

}

#super-img {
    width: 30%;
    overflow-y: auto;
    height: 80%;
    float: right;
    margin: 0 auto;
    border: lawngreen solid 1px;
    margin-top: -13.6%;
    margin-right: 5%;
}

#super-img img {
    width: 150px;
    height: 150px;
    margin: 0 auto;
    background: gray;
    margin-top: 20%;
    margin-left: 25%;
}

#super-img img:hover {
    border: lawngreen solid 1px;

}

#video-div {
    position: relative;
    float: left;
    margin: 0 auto;
    width:50%;
}

#video-div img {
    position: absolute;
    width: 100%;
    z-index: 999;
    margin: 5.1%;
    margin-top: 15%;
    margin-left: 7%;
}

#video {
    border: solid lawngreen 2px;
    width: 100%;
    padding: 1%;
    display:inline-block;
    margin: 5.1%;
    margin-top: 5%;
    position: relative;
    transform: scaleX(-1);
}

#photo {
    width: 98%;
    margin: 1.1% ;
    height:48%;
}

#canvas {
    display:none;
}

.camera {
    width: 100%;
}

.output {
    width: 100%;
    display:inline-block;
}

#startbutton {

    margin-left:  40%;
    background-color: rgba(124,252,0, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 1px 2px rgba(0, 0, 0, 0.2);
    font-size: 14px;
    font-family: "Lucida Grande", "Arial", sans-serif;
    color: rgba(255, 255, 255, 1.0);
    width: 200px;
    height: 100px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    text-align: center;
    background-color: rgba(0,0,0,0.9);
}

.modal-content {
    margin: 0 auto;
    padding-left: 30%;
    display: block;
    width: 80%;
    max-width: 700px;
}

.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover, .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}

.btnStyle {
    margin: 0 auto;
    margin-top: 5%;
    background-color: rgba(124,252,0, 0.5) !important;
    border: 1px solid rgba(255, 255, 255, 0.7) !important;
    box-shadow: 0 0 1px 2px rgba(0, 0, 0, 0.2) !important;
    -webkit-appearance: none;
    -moz-appearance: inherit;
    font-size: 14px;
    font-family: "Lucida Grande", "Arial", sans-serif;
    color: rgba(255, 255, 255, 1.0);
}

::-webkit-file-upload-button {
    background: black;
    color: red;
    padding: 1em;
}
