

#first-name {
    float:left;
    width: 48%;
}

#surname {
    float: right;
    width: 48%;
}

#password, #email {
    float: left;
    width: 99.4%;
}

.error_input {
    border: red solid 2px;
    border-radius: 3px;
    padding: 1px;
}